<template>
  <v-container fluid class="pa-0">
    <v-card color="transparent" flat outlined class="py-16">
      <v-row class="fill-height px-8" align="center" justify="center">
        <v-col cols="12" md="12" class="text-center">
          <div class="text-h4 black--text font-weight-bold">
            Les femmes et les hommes de
          </div>
          <div class="text-h3 red--text font-weight-bold">BRH Plus</div>
          <div class="subtitle py-3">
            Notre équipe dédiée à vos besoins en brise-roches hydrauliques et
            autres outils.
          </div>
        </v-col>
        <v-col cols="12" md="2" v-for="p in people" :key="p">
          <v-card height="100%" outlined hover>
            <div class="text-center pt-6">
              <v-avatar size="100" color="red">
                <v-icon dark x-large>mdi-account</v-icon>
              </v-avatar>
            </div>
            <v-card-text class="text-center">
              <div class="text-h5">{{ p }}</div>
              <div class="subtitle-1 red--text">Poste</div>
              <div class="subtitle-1">Date d'arrivée</div>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-row no-gutters>
                <v-col
                  v-for="i in ['instagram', 'linkedin', 'facebook']"
                  :key="i"
                  cols="4"
                >
                  <v-btn block text color="red">
                    <v-icon>{{ `mdi-${i}` }}</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
    <v-card
      color="black"
      :class="{
        'py-16': true,
        'rounded-t-circle': $vuetify.breakpoint.mdAndUp,
      }"
    >
      <v-row class="fill-height" align="center" justify="center">
        <v-col cols="12" md="10" class="text-center px-6">
          <div class="text-h2 white--text">BRHplus en chiffres</div>
          <div class="text-h5 grey--text py-3">
            Découvrez d'étonnantes informations qui témoignent de l'expérience
            de notre équipe
          </div>
          <v-container class="py-8">
            <v-row justify="center" align="center">
              <v-col
                cols="6"
                md="2"
                class="text-center"
                v-for="i in 4"
                :key="i"
              >
                <div class="pb-4">
                  <span class="text-h2 red--text">500</span>
                </div>
                <div>
                  <span class="white--text">Lorem ipsum dolor sit amet</span>
                </div>
              </v-col>
            </v-row>
          </v-container>
          <div class="text-center py-3">
            <v-btn dark x-large depressed rounded color="red">
              en savoir plus
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "AboutView",

  data() {
    return {
      people: [
        "Pierre Laffite",
        "Thérèse Monroe",
        "Arthur Méduse",
        "Julien Karmann",
      ],
    };
  },
};
</script>
