<template>
  <v-card color="transparent" class="py-16" flat outlined>
    <v-row class="fill-height px-8" align="center" justify="center">
      <v-col cols="12" md="6">
        <v-card flat color="transparent">
          <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            position="top center"
            contain
            src="https://images.unsplash.com/photo-1524508762098-fd966ffb6ef9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
            transition="scale-transition"
            max-height="450"
          />
        </v-card>
      </v-col>
      <v-col cols="12" md="4">
        <div class="text-h4 black--text font-weight-bold">
          Retrouvez-ici nos
        </div>
        <div class="text-h3 red--text font-weight-bold">actualités</div>
        <div class="subtitle py-3">
          Nous mettrons régulièrement à jour cette page, afin de vous permettre
          de suivre nos progrès, nos nouvelles acquisitions, et partager avec
          vous notre quotidien.
        </div>
        <div class="py-3 text-overline">Vous retrouverez ici :</div>
        <div class="subtitle-1">
          <ul>
            <li v-for="i in 7" :key="i">lorem</li>
          </ul>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>
