<template>
  <v-card
    color="transparent"
    flat
    outlined
    :height="$vuetify.breakpoint.height - 50"
  >
    <v-row class="fill-height" align="center" justify="center">
      <v-col cols="12" md="10" class="text-center px-6">
        <div class="d-flex justify-center pb-8">
          <v-img
            src="https://images.pexels.com/photos/7709266/pexels-photo-7709266.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            max-height="280"
            max-width="280"
            class="rounded-circle"
          ></v-img>
        </div>
        <div class="text-h4 black--text font-weight-bold">Une question ?</div>
        <div class="text-h3 red--text font-weight-bold">
          BRHplus est là pour vous répondre
        </div>
        <div class="subtitle py-3">Notre spécialité, vous satisfaire !</div>
        <div class="text-center py-3">
          <v-chip large color="red" dark class="ma-2 px-4">
            <v-icon class="mr-2"> mdi-phone </v-icon>
            <a
              class="white--text"
              href="tel:+33769049289"
              style="text-decoration: none"
            >
              <b>+33 7 69 04 92 89</b>
            </a>
          </v-chip>
          <v-chip large color="red" dark class="ma-2 px-4">
            <v-icon class="mr-2"> mdi-map </v-icon>
            <b>2 Rue Paul-Emile Victor, Saint-Quentin (02)</b>
          </v-chip>
          <v-chip large color="red" dark class="ma-2 px-4">
            <v-icon class="mr-2"> mdi-mail </v-icon>
            <a
              class="white--text"
              href="mailto:contact@brhplus.com"
              style="text-decoration: none"
            >
              <b>contact@brhplus.com</b>
            </a>
          </v-chip>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>
