<template>
  <v-container fluid class="pa-0">
    <v-card
      color="transparent"
      flat
      outlined
      :height="$vuetify.breakpoint.height - 50"
    >
      <v-img
        src="https://www.clmsarl.fr/public/img/big/performanceline001002gif_5bc48221c787a.gif"
        height="100%"
      >
        <v-row class="fill-height" align="center" justify="center">
          <v-col cols="12" md="10" class="text-center px-6">
            <div class="text-h2 white--text font-weight-bold">
              Le meilleur des outils
            </div>
            <div class="text-h2 red--text font-weight-bold">Rammer</div>
            <div class="subtitle py-3 white--text">
              BRH Plus est l'importateur officiel des outils Rammer en France.
            </div>
            <div class="text-center py-3">
              <v-btn x-large depressed rounded color="red" dark to="/contact">
                contactez-nous
              </v-btn>
              <div class="py-3">
                <router-link to="/login" class="white--text"
                  >ou connectez-vous</router-link
                >
              </div>
            </div>
          </v-col>
        </v-row>
      </v-img>
    </v-card>
    <v-card color="black" class="py-16">
      <v-row class="fill-height" align="center" justify="center">
        <v-col cols="12" md="10" class="text-center px-6">
          <div class="text-h2 white--text">Ils nous font confiance</div>
          <div class="text-h5 grey--text py-3">
            Ces entreprises nous ont choisi afin de les accompagner dans leurs
            activités.
          </div>
          <v-container class="py-8">
            <v-row justify="center" align="center">
              <v-col
                cols="6"
                md="2"
                class="text-center"
                v-for="i in 6"
                :key="i"
              >
                <v-icon x-large dark>mdi-sausage</v-icon>
              </v-col>
            </v-row>
          </v-container>
          <div class="text-center py-3">
            <v-btn dark x-large depressed rounded color="red">
              see our testimonials
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "HomeView",
};
</script>
