<template>
  <v-card
    color="transparent"
    :height="$vuetify.breakpoint.height - 64"
    flat
    outlined
  >
    <v-row class="fill-height" align="center" justify="center">
      <v-col cols="12" md="3">
        <v-container>
          <v-card flat>
            <v-card-text class="pt-12">
              <v-img
                alt="Vuetify Logo"
                class="shrink mr-2"
                position="top center"
                contain
                src="logo.png"
                transition="scale-transition"
                max-height="100"
              />
            </v-card-text>
            <v-card-text class="text-center">
              <div class="text-h5 font-weight-bold">Espace Client</div>
              <div class="subtitle-1">Bienvenue chez BRH+</div>
            </v-card-text>
            <v-card-text>
              <v-text-field
                label="E-mail"
                placeholder="Renseignez votre e-mail"
                class="my-2"
                outlined
                dense
                hide-details
                full-width
              ></v-text-field>
              <v-text-field
                label="Mot de passe"
                placeholder="*************"
                type="password"
                class="my-2"
                outlined
                dense
                hide-details
                full-width
              ></v-text-field>
              <v-checkbox
                label="Se souvenir de moi (30j)"
                dense
                color="red"
              ></v-checkbox>
              <v-btn color="red" depressed block dark> se connecter </v-btn>
            </v-card-text>
            <v-card-subtitle class="font-weight-bold">
              Utilisation des cookies
            </v-card-subtitle>
            <v-card-text>
              Ce site internet utilise des cookies à des fins purement
              techniques et non commerciales. Pour en savoir plus, consultez nos
              Conditions Générales d'Utilisation.
            </v-card-text>
          </v-card>
        </v-container>
      </v-col>
    </v-row>
  </v-card>
</template>
