<template>
  <v-container fluid class="pa-0">
    <v-card color="transparent" flat outlined>
      <v-row class="py-16 px-8" align="center" justify="center">
        <v-col cols="12" md="10" class="text-center">
          <div class="text-h4 black--text font-weight-bold">
            Les meilleures performances garanties avec les outils
          </div>
          <div class="text-h3 red--text font-weight-bold">BRH Plus</div>
          <div class="subtitle py-3">
            Découvrez une gamme de produit adaptés et performants au meilleur
            prix !
          </div>
        </v-col>
        <v-col cols="12" md="5" class="px-8 pt-4">
          <v-text-field
            placeholder="Rechercher un outil"
            prepend-inner-icon="mdi-magnify"
            color="red"
            outlined
            rounded
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-container class="pa-0">
            <v-row align="center" justify="center">
              <v-col cols="12" md="3" v-for="i in 12" :key="i">
                <v-card height="100%" outlined flat>
                  <div class="text-center pt-6">
                    <v-avatar tile size="100" color="red">
                      <v-icon dark x-large>mdi-cart</v-icon>
                    </v-avatar>
                  </div>
                  <v-card-text class="text-center">
                    <div class="text-h5">Outil N°{{ i }}</div>
                    <div class="subtitle-1 red--text">1290 €</div>
                    <div class="subtitle-1">En stock</div>
                  </v-card-text>
                  <v-divider></v-divider>
                  <v-card-subtitle> Description </v-card-subtitle>
                  <v-card-text>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Adipisci deleniti earum enim maxime minus non nulla possimus
                    quas quibusdam repudiandae rerum, sequi vitae voluptatem?
                    Adipisci blanditiis harum mollitia quas similique!
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>
