<template>
  <v-app>
    <v-app-bar app color="white" height="73" flat dark>
      <div
        class="d-flex align-center pointer-hand"
        @click="$router.push({ name: 'home' })"
      >
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="logo.png"
          transition="scale-transition"
          width="70"
        />
      </div>

      <v-spacer></v-spacer>

      <div class="hidden-sm-and-down">
        <v-btn
          text
          color="grey"
          dark
          v-for="btn in links"
          :key="`btn-${btn.name}`"
          :to="{ name: btn.name }"
          :exact-path="true"
          exact-active-class="red"
          class="mx-1"
        >
          <span :class="{ 'white--text': btn.name === $route.name }">{{
            btn.text
          }}</span>
        </v-btn>
      </div>
      <div class="hidden-md-and-up mr-2">
        <v-btn depressed dark color="red" @click="drawer = true">
          <v-icon>mdi-menu</v-icon>
        </v-btn>
      </div>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app disable-resize-watcher>
      <v-list nav dense>
        <v-list-item-group active-class="red--text">
          <v-list-item
            v-for="btn in links"
            :key="btn.name"
            :to="{ name: btn.name }"
            exact-active-class="red dark"
            :exact-path="true"
            selectable
          >
            <v-list-item-title
              :class="{
                'white--text': btn.name === $route.name,
                'text-overline': true,
              }"
              >{{ btn.text }}</v-list-item-title
            >
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <router-view />
    </v-main>

    <v-footer class="pa-0">
      <v-container fluid class="red py-2"></v-container>
      <v-container>
        <v-row align="start" justify="space-between">
          <v-col cols="12" md="4">
            <v-card flat outlined color="transparent">
              <v-card-title>BRH Plus</v-card-title>
              <v-card-text>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minimh. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim.
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="2" class="hidden-sm-and-down"></v-col>
          <v-col cols="12" md="3">
            <v-card flat outlined color="transparent">
              <v-card-title>Contact</v-card-title>
              <v-card-text>
                <div class="d-flex">
                  <v-icon class="mr-4">mdi-phone</v-icon>
                  <div>
                    <span>07 69 04 92 89</span>
                  </div>
                </div>
                <div class="d-flex py-2">
                  <v-icon class="mr-4">mdi-mail</v-icon>
                  <div>
                    <span>contact@brhplus.com</span>
                  </div>
                </div>
                <div class="d-flex">
                  <v-icon class="mr-4">mdi-map</v-icon>
                  <div>
                    <span> 2 Rue Paul-Emile Victor, Saint-Quentin (02)</span>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="3">
            <v-card flat outlined color="transparent">
              <v-card-title>Plan du site</v-card-title>
              <v-card-text>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minimh.
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row justify="space-between" class="py-3">
          <v-col cols="12" md="5" class="text-center text-md-left">
            © Copyright 2022 BRHplus SAS. Tous droits réservés.
          </v-col>
          <v-col cols="12" md="5" class="text-center text-md-right">
            <a class="mx-2 black--text text-decoration-underline">FAQ</a>
            <a class="mx-2 black--text text-decoration-underline"
              >Privacy Policy</a
            >
            <a class="mx-2 black--text text-decoration-underline"
              >Terms & Conditions</a
            >
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    links: [
      {
        name: "home",
        text: "acceuil",
      },
      {
        name: "our-company",
        text: "notre entreprise",
      },
      {
        name: "blog",
        text: "notre blog",
      },
      {
        name: "our-tools",
        text: "nos outils",
      },
      {
        name: "contact",
        text: "contactez-nous",
      },
      {
        name: "login",
        text: "se connecter",
      },
    ],
    drawer: false,
  }),
};
</script>

<style>
.pointer-hand {
  cursor: pointer;
}

@media only screen and (min-device-width: 240px) and (max-device-width: 480px) {
  body {
    overflow-x: hidden;
  }
}
</style>
